/* ================================ */
/*          Global Style            */
/* ================================ */

:root {
  /* ======Color====== */

  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);

  /* =======Font======= */
  font-family: work, sans-serif;
}

@font-face {
  font-family: "work";
  src: url(/assets/fonts/WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "work-italic";
  src: url(/assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
}

/* ================================ */
/*          Reset & Global          */
/* ================================ */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ================================ */
/*       General Style         */
/* ================================ */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Light-pink);
  background-image: url(assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.conteiner {
  
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  background-color: var(--White);
  margin: 20px;
  padding: 35px;
  border-radius: 10px;
  
}

h1 {
  margin-left: 10px;
  font-size: 3rem;
}

div {
  display: flex;
  align-items: center;
}

summary {
  list-style: none;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 15px 20px 0px;
} 

p {
  margin: 35px 0px 25px 0px;
  list-style: none;
  color: var(--Grayish-purple);
}

.acordion {
  justify-content: space-between;
}

img {
  width: 35px;
  margin-top: 10px;
}

.simbolo {
  width: 25px;
  margin-top: 20px;
  align-self: flex-start;
  cursor: pointer;
}



@media screen and (max-width: 500px) {


  body {
    background-image: url(assets/images/background-pattern-mobile.svg);
  }
  
  
  .conteiner {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 35px;
    border-radius: 10px;
  }
  
}